.experienceSection {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.experienceContent {
  margin-top: 3em;
  position: relative;
  height: 80%;
  width: 100%;
  max-width: 1250px;
}

.tilt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.tilt svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 177px;
  transform: rotateY(180deg);
}

.shapeFill {
  fill: var(--main-color);
}

@media screen and (max-width: 800px) {
  .experienceSection {
    justify-content: start;
  }
  .title {
    font-size: 4em;
  }
}
